[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggparliament"]
	path = ggparliament
	url = https://github.com/zmeers/ggparliament
